# .format() method

In [2]:
print('This is a string {}'.format('INSTERTED'))

This is a string INSTERTED

In [7]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [9]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [11]:
print('{s} is a {l} {p}'.format(s='sebastian',l='little',p='puta'))

sebastian is a little puta

In [22]:
print('{g} is a {d} {s}'.format(g='grant cardone',d='decent',s='salesman'))

grant cardone is a decent salesman

# float formatting follows "{value:width.precision f}"

In [23]:
result = 100/777

In [24]:
result

1.2987012987012987

In [26]:
print("The result was {r}".format(r=result))

The result was 1.2987012987012987

In [29]:
result = 365/30

In [30]:
result

12.166666666666666

In [33]:
result = result *1213

In [34]:
result

17709800.0

In [40]:
print('The result is now {r:1.3f}'.format(r=result))

The result is now 17709800.000

In [12]:
house_price = 2000*12*20

In [13]:
print('the price for this house is {hp:1.2f}'.format(hp = house_price))

the price for this house is 480000.00

# Below is me playing around with print formatting

In [41]:
name = 'Chris'

In [42]:
name

'Chris'

In [44]:
print(f"Hello, my name is {name}")

Hello, my name is Chris

In [48]:
Salutation = "Slut"

In [49]:
print(f"{Salutation}, my name is {name}")

Slut, my name is Chris

In [55]:
m = 'Mariluz'

In [56]:
f = 'Fernando'

In [57]:
s = 'Sebastian'

In [58]:
c = 'Christopher'

In [59]:
print(f"{m}, {f}, {s}, and {c} are members of a beautiful family")

Mariluz, Fernando, Sebastian, and Christopher are members of a beautiful family

In [63]:
Salutation = "Slut"
Age = '45'

In [64]:
print(f"Look {Salutation}, {f} is a {Age} old man that is living with his family that includes {m}, {s}, and {c}")

Look Slut, Fernando is a 45 old man that is living with his family that includes Mariluz, Sebastian, and Christopher

In [4]:
n1 = 'chris'
a1 = 28
ad1 = 'hillside'

In [17]:
print(f"{n1} is a {a1} year old man that lives in {ad1}")

chris is a 28 year old man that lives in hillside

In [18]:
assets = 200000
net_income = 50000
net_worth = assets + net_income

In [19]:
print(f"{n1} is a {a1} year old man that lives in {ad1} his net worth is {net_worth}")

chris is a 28 year old man that lives in hillside his net worth is 250000