# if elif else statements are shown below.

In [13]:
hungry = True

if hungry:
    print('FEED ME!')
else:
    print("I'm not hungry")

FEED ME!

In [19]:
loc = 'Store'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

Welcome to the store!

In [21]:
name = 'Sebastian'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy!")
else:
    print("What's your name?")

What's your name?

In [104]:
demo_name = 'Obama'

if demo_name == 'Obama':
    print('Eligible Candidate')
elif demo_name == 'Tango':
    print('Republican')
else:
    print('Not Eligible')

Eligible Candidate

Below shows for loop in lists

In [22]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [23]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [109]:
mylist1 = [3,4,5,6,7,8,9,10,11,12,13]

In [111]:
for _ in mylist1:
    if _ % 2 == 0:
        print(f'EN : {_}')
    else:
        print(f'OD : {_}')

OD : 3
EN : 4
OD : 5
EN : 6
OD : 7
EN : 8
OD : 9
EN : 10
OD : 11
EN : 12
OD : 13

In [30]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    # Check for odd
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [33]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [42]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [44]:
for _ in "Hello World":
    print(_)

H
e
l
l
o

W
o
r
l
d

In [45]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

# Below is tuple unpacking

In [10]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [11]:
len(mylist)

4

In [12]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [51]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [52]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

for a,b,c in mylist:
    print(a)
    print(b)
    print(c)

1
2
3
4
5
6
7
8
9

# Unpacking for dictionaries

In [57]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(value)

1
2
3

In [115]:
address = 'Hillside'

if address == 'Newman':
    print('Correct')
elif address == 'Cherry':
    print('Correct')
else:
    print('Incorrect')

Incorrect

In [117]:
nn_list = [22,23,24,25,26,27,28]

for _ in nn_list:
    if _ % 2 == 0:
        print(f'EV:{_}')
    else:
        print(f'OD:{_}')

EV:22
OD:23
EV:24
OD:25
EV:26
OD:27
EV:28

In [119]:
nn_sumlist = 0

for _ in nn_list:
    nn_sumlist = nn_sumlist + _
        
print(nn_sumlist)

175

In [120]:
mystring = 'HELLO WORLD'

for _ in mystring:
    print(_)

H
E
L
L
O

W
O
R
L
D

In [130]:
my_lo = [(1,2,3),(3,4,5),(6,7,8)]

for a,b,c in my_lo:
    print(a)

1
3
6

# While Loop

In [1]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [4]:
x = 50

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('X is not less than 5')

X is not less than 5

# Pass statement : Does nothing at all.

In [5]:
x = [1,2,3]

for item in x:
    pass

print('end of my script')

end of my script

# Continue statement : Goes to the top of the closest enclosing loop

In [7]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

# Break statement: Breaks out of the current closest enclosing loop

In [13]:
my_string = 'Sammy'

In [14]:
for letter in my_string:
    if letter == 'a':
        break
    print(letter)

S

In [17]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x += 1

0
1

# Useful Operators

In [18]:
mylist = [1,2,3]

In [22]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [23]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

# Inumerate Text

In [24]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [28]:
# because above is done frequently a function enumerate was created

word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

# Zip function : zips together 2 lists

In [32]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [33]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [34]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

# Check to see if something is True or False

In [40]:
2 in mylist1

True

In [41]:
2 in [1,2,3]

True

In [42]:
'a' in 'a world'

True

In [43]:
'mykey' in {'mykey':345}

True

In [44]:
d = {'mykey':345}

345 in d.values()

True

In [46]:
d = {'mykey':456}

'mykey' in d.keys()

True

# MIN MAX

In [47]:
mylist = [10,20,30,40,100]

In [48]:
min(mylist)

10

In [49]:
max(mylist)

100

# Random Library

In [50]:
from random import shuffle

In [51]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [56]:
shuffle(mylist)

In [58]:
mylist

[1, 5, 3, 2, 6, 4, 7, 8, 9, 10]

In [59]:
from random import randint

In [60]:
randint(0,100)

7

In [61]:
randint(0,100)

12

In [62]:
mynum = randint(0,10)

In [63]:
mynum

9

In [64]:
mynum

9

In [66]:
result = input('What is your name?:')

What is your name?:Chris

In [67]:
result

'Chris'

In [2]:
result = input('What is your age?:')

What is your age?:28

In [3]:
result

'28'